body {
    display: flex;
    flex-direction: column;
}

.projects {
    display: flex;
    justify-content: center;
    margin-top: 7rem;
    width: 100%;
    background-color: bisque;
    padding: 20px;
}


.links {
    text-align: center;
    list-style-type: none;
}

.link {
    margin-top: 10px;

}