/* HERO SCREEN */

:root {
    --brand-color: #92000E;
    --main-color: rgba(255, 230, 230, 0.9);
    --hover-color: white;
}

/* No padding for fullscreen */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

/* Body is the entire thing  */
body {
    height: 100%;
    font-family: sans-serif;
    background-color: var(--brand-color);
    display: flex;
}



/* Paralax effect for image */
.hero {
    /* position: relative; */
    height: 100vh;
    background-image: url("../images/thumbs.JPG");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 4rem;
    z-index: 0;
}

.hero h1 {
    /* clamp (minimum, preferred, maximum) */
    font-size: clamp(4rem, 18vw, 14rem);
    font-weight: 1000;
    color: var(--main-color);
    line-height: 0.9;
    z-index: 1;
    text-align: center;
    transition: 0.2s ease-out;


}

#name:hover {
    color: var(--hover-color);

}

.overlay {
    position: absolute;
    inset: 0;
    background: rgba(140, 30, 20, 0.55);
    mix-blend-mode: multiply;
    opacity: 1;
    z-index: -1;
}



/* CONTACT */

.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    /* space between icons */
    z-index: 1;
}

a {
    text-decoration: none;
}

.contactIcon {
    font-size: 28px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--main-color);
    color: black;
    /* transition: box-shadow 0.5s ease-out; */
    transition: 0.2s ease-out;
}


.contactIcon:hover {
    color: black; 
    transition: 0.5s;
    /* transform: scale(1.); */
    border-radius: 30%;
    box-shadow:
        0px 0px 10px rgba(0, 0, 0, 0.5);
    background-color: var(--hover-color);;

}



/* TYPING ANIMATION */
.typing-container {
    padding: 15px;
    z-index: 1
}


.typed {
    color: var(--main-color);
}

.typed:hover {
    color: var(--hover-color);
}

.typed::after {
    content: '|';
    /* The cursor character */
    opacity: 80%;
    margin-left: 2px;
    /* Small space between letter and cursor */
    color: var(--main-color);
    /* Optional: Matches your name color */
    animation: blink 0.8s infinite;
    /* The blinking magic */
}



/* 2. Define the blinking animation */
@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}



.ul_noBullets {
	list-style-type: none;
	padding: 0;
	margin: 0;
	font-family: 'Roboto', sans-serif;

}

h1 {
	font-family: 'Roboto', sans-serif;
}

body {

	font-family: 'Roboto', sans-serif;
}

/* ===== NAVBAR ===== */
.navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
	padding: 3rem 2rem;
}


.nav-pages {
	align-items: center;
    display: flex;
}



/* Links */
.nav-links {
	list-style: none;
	display: flex;
	font-weight: bold;
	gap: 2rem; 
	background-color: var(--main-color);
	padding: 10px;
	border-radius: 20px;
	padding-left: 30px;
	padding-right: 30px;
    transition: 0.2s ease-out;
}

.nav-links:hover {
    box-shadow:
        0px 0px 10px rgba(0, 0, 0, 0.5);
    background-color: var(--hover-color);;
}

.nav-links a {
	color: black;
	text-decoration: none;
	font-size: 1rem;
	position: relative;

}

.nav-links a:hover {
	color:red;
    
}