.bold {
	font-weight: bold;
}

.ul_noBullets {
	list-style-type: none;
	padding: 0;
	margin: 0;
	font-family: 'Roboto', sans-serif;

}

h1 {
	font-family: 'Roboto', sans-serif;
}

body {

	font-family: 'Roboto', sans-serif;
}

/* ===== NAVBAR ===== */
.navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;

	display: flex;
	justify-content: center;
	align-items: center;

	z-index: 1000;
	padding: 3rem 2rem;
}

.nav-pages {
	align-items: center;
}

/* Links */
.nav-links {
	list-style: none;
	display: flex;
	font-weight: bold;
	gap: 2rem; 
	background-color: rgba(255, 230, 230, 0.9);;
	padding: 10px;
	border-radius: 20px;
	padding-left: 30px;
	padding-right: 30px;
}

.nav-links a {
	color: black;
	text-decoration: none;
	font-size: 1rem;
	position: relative;

}