.body {
  padding: 25px;
  background-color: white;
  color: black;
  font-size: 25px;
}


.img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}


.dark {
  color:black;
}


.dark-mode {
  background-color: black;
  color: white;

}


.resize {
  vertical-align: middle;
  width: 600px;
  height: auto;
}


.centered {
  text-align: center;
  padding: 70px 0;
}



button, input[type="submit"] {
    background-color: #2196f3;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    font-size: 0.95rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 0.375rem 0.75rem;
    text-align: center;
    color: white;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    vertical-align: middle;
}

button:hover {
  box-shadow: 0 8px 6px -6px gray;
}


.disabled {
  color: gray;
}



a {
  color: hotpink;
}

.linkedin {
  color: hotpink;
}

.linkedin:hover {
  color: blue;
  text-decoration: underline;
}

.experiment {
  color: gold;
}