/* HERO SCREEN */

/* No padding for fullscreen */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body is the entire thing  */
html,
body {
    height: 100%;
    font-family: system-ui, sans-serif;
}



/* Paralax effect for image */
.hero {
    position: relative;
    height: 100vh;
    background-image: url("../images/thumbs.JPG");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 4rem;
}

.hero h1 {
    position: relative;
    /* clamp (minimum, preferred, maximum) */
    font-size: clamp(4rem, 18vw, 14rem);
    font-weight: 800;
    color: rgba(255, 230, 230, 0.9);
    line-height: 0.9;
    z-index: 1;
    text-align: center;
    transition: 0.2s ease-out;


}

.hero h1:hover {
    color: white;

}

.overlay {
    position: absolute;
    inset: 0;
    background: rgba(140, 30, 20, 0.55);
    mix-blend-mode: multiply;
    opacity: 1;
}






/* CONTACT */

.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    /* space between icons */
    z-index: 1;
}

a {
    text-decoration: none;
}

.contactIcon {
    font-size: 28px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: rgba(255, 230, 230, 0.9);
    color: black;
    /* transition: box-shadow 0.5s ease-out; */
    transition: 0.2s ease-out;
}


.contactIcon:hover {
    /* background-color: white;
    color: black; */
    transition: 0.5s;
    /* transform: scale(1.); */
    border-radius: 30%;
    box-shadow:
        0px 0px 10px rgba(0, 0, 0, 0.5);
    background-color: white;

}



/* TYPING ANIMATION */
.typing-container {
    padding: 15px;
    z-index: 1
}


.typed {
    color: rgba(255, 230, 230, 0.9);
}

.typed::after {
    content: '|';
    /* The cursor character */
    opacity: 80%;
    margin-left: 2px;
    /* Small space between letter and cursor */
    color: rgba(255, 230, 230, 0.9);
    /* Optional: Matches your name color */
    animation: blink 0.8s infinite;
    /* The blinking magic */
}

/* 2. Define the blinking animation */
@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}